<div class="personal muted span10" style="margin-left:100px">
  <div class="page-header">
    <h2>Profile</h2>
  </div>
  <div class="row">
    <div class="offset1 span6" id="profile_detail">
      <% @fb_twt_email = (current_fb_user.present?? (current_fb_user.email rescue '') : (current_twitter_user.email rescue '')) %>
      <div class="span2 b">Email</div>
      <div class="span3">&nbsp;<%= user_signed_in?? current_user.email : @fb_twt_email %></div><br/><br/>
      <div class="span2 b">First Name</div>
      <div class="span3">&nbsp;<%= @profile.first_name rescue "na" %></div><br/><br/>
      <div class="span2 b">Last Name</div>
      <div class="span3">&nbsp;<%= @profile.last_name rescue "na" %></div><br/><br/>
      <div class="span2 b">City</div>
      <div class="span3">&nbsp;<%= @profile.city rescue "na" %></div><br/><br/>
      <div class="span2 b">State</div>
      <div class="span3">&nbsp;<%= @profile.state rescue "na" %></div><br/><br/>
      <div class="span2 b">Country</div>
      <div class="span3">&nbsp;<%= @profile.address  rescue "na"%></div><br/><br/>
      <div class="span2 b">Type</div>
      <div class="span3">&nbsp;Customer, Dealer, Broker, Builder</div><br/><br/>
      <div class="span2 b">&nbsp;</div>
      <div class="span3" style="border:0px;"><%= link_to 'Edit Profile', edit_profile_path(:id => @profile.id), :class => 'btn btn-info'  rescue "na"%></div>
    </div>

    <div class="span3">
      <!--(image_tag (@profile.image_url(:medium).to_s, style:"float: right; padding-right: 456px; padding-bottom: 8px;"))-->
      <%#=((current_twitter_user).present?? "Twitter image" : image_tag("annonymous_user.png")) if (!user_signed_in? && !current_fb_user.present? && current_twitter_user.present?) %>
      <%= (current_fb_user.image).present?? (raw image_tag current_fb_user.image, :size => "100x40" ) : image_tag("annonymous_user.png") if !user_signed_in? %>
      <%= ((current_user.profile.image).present? ? (image_tag @profile.image, :size => "100x40", style: "padding-top: 10px;") : image_tag("annonymous_user.png")) if (user_signed_in? && !current_fb_user.present? && !current_twitter_user.present?) %>
      <!--<button class="btn" style="text-align:center;margin:40px 40px 0px;" id="picture_ch">Change</button> <br>-->
    </div>

    <!--<div class="span3" id="picture_f" style="margin-top:25px;padding:3px;display:none;">-->
      <!--<%#= form_for @profile, :url => '', :html => {:multipart => true} do |f| %>-->
          <!--<%#= f.file_field :profile_picture, :style =>"padding:10px;" %>-->
          <!--<%#= f.submit "Update", :class => "btn" %>-->
      <!--<%# end %>-->
    <!--</div>-->

  </div>

</div>