<h3>Hi <%= @user_name rescue '' %>,</h3><br>

   It is <a href="http://www.vollaa.com">Vollaa.com</a> with the answers you wanted <%= @property.property_title rescue '' %><br><br>

<b><u>Property Details</u></b><br><br>

<b>Property Age : </b> <%= @property.property_age rescue '' %>,<br><br>

<b>No.of Bedrooms : </b><%= @property.bedrooms rescue '' %>,<br><br>

<b>Price : </b><%= @property. property_price rescue '' %><br><br>

More details click here : <br>

<%= @property.more_link rescue '' %>