<div class="row">
  <div class="span3">
    <%= label_tag :property_type %>
    <%= text_field_tag :property_type %>
    <p class="help-inline">residential,flat,commertial, house</p>
  </div>
  <div class="span3">
    <%= label_tag :bedrooms %>
    <%= text_field_tag :bedrooms %>
    <p class="help-inline">2,3,4</p>
  </div>
</div>
<div class="row">
  <div class="span3">
    <%= label_tag :price_min %>
    <%= text_field_tag :price_min %>
    <p class="help-inline">From</p>
  </div>
  <div class="span3">
    <%= label_tag :price_max%>
    <%= text_field_tag :price_max %>
    <p class="help-inline">To</p>
  </div>
</div>