<ul class="nav nav-pills">

  <li><label class="radio advanced_search"><%= radio_button_tag 'search','', :checked => true %>Advanced </label></li>
</ul>
<div class="row">
  <div class="span3 form-inline">
    <%= label_tag :property_type %>
    <%#= select('','property_type', Property.all.collect{|p|[p.property_type]},:prompt => ["Select One"], :disabled => '0') %>
    <%#= text_field_tag :property_type %>
    <%= select_tag :property_type, options_for_select({ "Select One" => '', "Plot" => "plot","Non-Layout Land" => "Non-Layout Land", "Residential" => "residential", "Flat" => "Flat", "Office Space" => "Office Space" }) %>
    <p class="help-inline">residential,flat,commercial, house</p>
  </div>
  <div class="span3 form-inline">
    <%= label_tag :bedrooms %>
    <%#= text_field_tag :bedrooms %>
    <%= select_tag :bedrooms, options_for_select({"Select One" => '', "ONE" => "1", "TWO"=> "2", "THREE"=> "3", "FOUR"=> "4", "FIVE"=> "5", "SIX"=> "6"}) %>
    <p class="help-inline">2,3,4</p>
  </div>
</div>
<div class="row">
  <div class="span3 form-inline">
    <%= label_tag :price_min %>
    <%= text_field_tag :price_min %>
    <p class="help-inline"></p>
  </div>
  <div class="span3 form-inline">
    <%= label_tag :price_max%>
    <%= text_field_tag :price_max %>
    <p class="help-inline"></p>
  </div>
</div>