<%= form_tag 'results', :method => :get, :class => 'search_form'  do %>

    <div class="row form-line reg_search">
      <%#= link_to image_tag("Vollaa_logo.png", :size => "170x100", :alt => "Vollaa", class: 'image'), '/' %>

      <div class="span3 form-inline ">
        <%= label_tag :what %>
        <br/>
        <%= text_field_tag :what,sel_param(:what) %>
        <%#= (autosuggest_text_field "property", "property_title", "http://127.0.0.1:8982/solr/", "property_property_title").html_safe %>
      </div>
      <div class="span3 form-inline">
        <%= label_tag :where %>
        <br/>
        <%= text_field_tag :where, sel_param(:where) %>
        <%#= (autocomplete_text_field "property", "property_desc", "http://127.0.0.1:8982/solr/", "property_property_desc").html_safe %>
      </div>
      <div class="span2 form-inline" style="padding-bottom: 20px; padding-top: 5px;">
        <%#= label_tag :search %> <br/>
        <%= submit_tag :search, :class => 'btn btn-block btn-primary span2 search_btn'%>
      </div>
    </div>
    <!--<div class="span11 form-inline" style="padding-left: 30px; padding-top: 10px;">-->
      <!--<%= label_tag 'search or select area' %>-->
      <!--<span style="color: #A0A0A0;  padding-left: 60px;">-->
        <!--<%= text_field_tag :prop_desc, sel_param(:prop_desc) %>-->
      <!--</span>-->
    <!--</div> <br/>  <br/><br/>-->
    <!--<div style="padding-left: 400px; padding-bottom: 0px; padding-top: 0px;">
      <label class="radio inline" style="padding-left: 50px;"><%#= property_for_radio_btn("buy") %>Buy</label>
      <label class="radio inline" style="padding-left: 30px;">
        <%#= property_for_radio_btn("sale") %>Sale</label>
      <label class="radio inline" style="padding-left: 50px;">
        <%#= property_for_radio_btn("rent") %>Rent</label>
    </div>-->
<% end %>

