<div class="result">

  <%= hidden_field_tag 'property_id', result.id %>
  <div class="result_heading">
    <%= link_to result.property_title, vollaa_property_show_path(result.id), :target => '_blank' %> (<%= result.property_for %>)
  </div>

  <div class="result_details">
    <div class="price pull-left">
      <% if result.property_price != 0 %>
          <span style="color: rgba(9, 122, 0, 0.96);">Rs : <%= result.property_price %></span>
      <% else %>
          Contact for price
      <% end %>
    </div>
    <div>
      <br/>
      Type : <%= result.property_type %>,
      Area : <%= result.built_up_area %> yards,
      Bedrooms : <%= result.bedrooms %>         <br/>
      State : <%= result.state %>,
      City : <%= result.city %>.
    </div>
    <div class="description pull-right">
      <%= result.property_description %>
    </div>
    <div class="clear"></div>
  </div>
  <div class="property_links">
    From : <%= result.source %>   <%= time_ago_in_words(result.created_at) rescue '' %>,
    <%= link_to 'Save Property', "#" %> -
    <%= link_to 'Email', '#email_form', :class => 'email_property', "data-property-id" => result.id %>  -
    <%= link_to 'more info', vollaa_property_show_path(result.id), :target => '_blank' %>
  </div>
</div>

