<%#= debug @value %>

<span class="filter_nav span3">
     <% unless session[:s_qry_ary].blank? %>
        <div id="query_popup">
          <div class="search_query">
            searching <b style="color: #4E6B78;"> <%= session[:s_qry_ary].last[0] %></b>
            <% @query2 = session[:s_qry_ary].last[1] %>
            <% unless @query2.empty? %>
                <br/> in <b style="color: #4E6B78;"> <%= @query2 %></b> <br/>
            <% end %>
            for <b style="color: #4E6B78;"> <%= params[:property_for] %></b> <br/>
          </div>
          <div class="recent">
            <p><b>Recent searches</b><%= link_to "Remove", "#", class: 'nav_clear remove_recent' %></p>

            <p>
              <% session[:s_qry_ary].uniq.each_with_index do |q, i = 0| %>
                  <% unless (i == (session[:s_qry_ary].length - 1)) %>
                      <% @params_except = params.except(:property_type, :bedrooms, :city, :state, :price_min, :price_max, :area_min, :area_max) %>
                      <%= link_to q.join(" "), @params_except.merge(:what => q[0], :where => q[1]) %>
                      <br/>
                  <% end %>
              <% end %></p>
          </div>
        </div>
       <% end %>
  <br/>

  <p><%= (params[:property_type] || params[:bedrooms] || params[:city] || params[:state] || params[:price_min] || params[:price_max] || params[:area_min] || params[:area_max]).nil? ? '' : (link_to 'Remove All', params.except(:property_type, :bedrooms, :city, :state, :price_min, :price_max, :area_min, :area_max), class: 'nav_clear') %></p>

<h5><span class="type">Type</span></h5>
  <span class="tp">
    <% i = 0 %>
  <% @search.facet(:property_type).rows.each do |facet| %>
        <% facet_value = facet.value %>
        <% @fac_type = (facet_value == "residential") ? "Residential" : facet_value %>
        <% i += 1 %>
        <% if i > 5 %>
        <span class="more_type"><p><%= link_to @fac_type, params.merge(:property_type => facet_value), :class => ((params[:property_type]) == facet_value) ? "sel_nav type_link" : "type_link" %>
          ( <%= @count = facet.count %>)<%= type_clear("#{facet_value}") %></p></span>
        <% else %>
        <p><%= link_to @fac_type, params.merge(:property_type => facet_value), :class => ((params[:property_type]) == facet_value) ? "sel_nav type_link" : "type_link" %>
          ( <%= @count = facet.count %>)<%= type_clear("#{facet_value}") %></p>
        <% end %>
  <% end %>
    <% if i > 5 %>
         <div class="p_type_more"><%= "more>>" %></div>
     <% end %></span>
  <br/>

<h5><span id="price">Price</span></h5>
  <% if (params["price_min"] || params["price_max"]).present? %>
  <div class="price_range">
    Price
    Range<br/> <%= number_to_indian_currency(params["price_min"])+ "-"+ number_to_indian_currency(params["price_max"]) %>
  </div>
  <br/>
      <% end %>
  <div id='property_price' style="width: 200px"></div>
<br/>
<input type="text" id="filtered-price" style="width: 185px; cursor: default; " disabled="true"/>

   <!--<span> Price Min </span><span style="padding-left: 19px;">  Price Max</span>-->
  <%#= select "price_min", '', [["min price", 0], ["1 Lakh", 100000], ["2 Lakhs", 200000], ["5 Lakhs", 500000], ["10 Lakh", 1000000], ["15 Lakhs", 1500000], ["20 Lakhs", 2000000], ["25 Lakh", 2500000], ["30 Lakhs", 3000000], ["35 Lakhs", 3500000], ["40 Lakhs", 4000000], ["45 Lakh", 4500000], ["50 Lakhs", 5000000], ["35 Lakhs", 5500000]], :selected => params[:price_min], class: 'controls', :disabled => "min price", :params => params.except("price_min") %> <!---:prompt => "Placeholder"-->
  <%#= select "price_max", '', [["max price", ],["1 Lakh", 100000], ["2 Lakhs", 200000], ["5 Lakhs", 500000], ["10 Lakh", 1000000], ["15 Lakhs", 1500000], ["20 Lakhs", 2000000], ["25 Lakh", 2500000], ["30 Lakhs", 3000000], ["35 Lakhs", 3500000], ["40 Lakhs", 4000000], ["45 Lakh", 4500000], ["50 Lakhs", 5000000], ["35 Lakhs", 5500000]], :selected => params[:price_max], class: 'controls', :disabled => "max price", :prompt => "max price" %>

  <!--<span class="p">-->
  <!--<p><%#= price_sel('Rs. 1 Lakh - 10 Lakhs', 100000, 1000000) %>    <%#= price_clear(100000, 1000000) %></p>-->
  <!--<p><%#= price_sel('Rs. 10 Lakhs - 50 Lakhs', 1000000, 5000000) %> <%#= price_clear(1000000, 5000000) %></p>-->
  <!--<p><%#= price_sel('Rs. 50 Lakhs - 1Cr', 5000000, 10000000) %>     <%#= price_clear(5000000, 10000000) %></p>-->
  <!--<p><%#= price_sel('Rs. 1Cr - 10Cr', 10000000, 100000000) %>            <%#= price_clear(10000000, 100000000) %></p>-->
  <!--<p><%#= price_sel('Rs. 10Cr plus', 100000000, 0) %>            <%#= price_clear(100000000, 0) %></p></span>-->
  <br/>

   <h5>Bedrooms</h5>
   <ul class="nav nav-pills nav-stacked">
     <% i = 0 %>
     <% @search.facet(:bedrooms).rows.each do |facet| %>
         <% facet_value = facet.value %>
         <% facet_count = facet.count %>
         <% unless (facet_value == 0) || (facet_value > 15) %>
             <% i += 1 %>
             <% if i > 5 %>
                 <span class="more"><p><%= link_to "#{facet_value}b (#{@count = facet_count})", params.merge(:bedrooms => facet_value), :class => ((params[:bedrooms]).to_i == facet_value) ? "sel_nav type_link" : "type_link" %>
                   <%= ((params[:bedrooms]).to_i == facet_value) ? (link_to 'Clear', params.except(:bedrooms), class: 'nav_clear') : '' %></p></span>
             <% else %>
                 <p><%= link_to "#{facet_value}b (#{@count = facet_count})", params.merge(:bedrooms => facet_value), :class => ((params[:bedrooms]).to_i == facet_value) ? "sel_nav type_link" : "type_link" %>
                   <%= ((params[:bedrooms]).to_i == facet_value) ? (link_to 'Clear', params.except(:bedrooms), class: 'nav_clear') : '' %></p>
             <% end %>
         <% end %>
     <% end %>
     <% if i > 5 %>
         <div class="bed_more"><%= "more>>" %></div>
     <% end %>
   </ul>
   <br/>

   <h5>Area in yards</h5>

   <p><%= area_sel('< hundred', 0, 100) %>                          <%= area_clear(0, 100) %></p>

   <p><%= area_sel('hundred - 1 thousand', 100, 1000) %>            <%= area_clear(100, 1000) %></p>

   <p><%= area_sel('1 thousand - 10 thousand', 1000, 10000) %>      <%= area_clear(1000, 10000) %></p>

   <p><%= area_sel('10 thousand - 50 thousand', 10000, 50000) %>    <%= area_clear(10000, 50000) %></p>

   <p><%= area_sel('50 thousand - 1Lakh', 50000, 100000) %>         <%= area_clear(50000, 100000) %></p>

   <p><%= area_sel('more than 1Lakh', 100000, 0) %>                 <%= area_clear(100000, 0) %></p>
   <br/>

   <h5>City</h5>

   <ul class="nav nav-pills nav-stacked">
     <% @search.facet(:city).rows.each do |facet| %>
         <% facet_value = facet.value %>
         <% unless facet.value == '' %>
             <p><%= link_to facet_value, params.merge(:city => facet_value), :class => ((params[:city]) == facet_value) ? "sel_nav type_link" : "type_link" %>
               ( <%= @count = facet.count %>
               )<%= ((params[:city]) == facet_value) ? (link_to 'Clear', params.except(:city), class: 'nav_clear') : '' %></p>
         <% end %>
     <% end %>
   </ul>
   <br/>

   <h5>State</h5>

   <ul class="nav nav-pills nav-stacked">
     <% @search.facet(:state).rows.each do |facet| %>
         <% facet_value = facet.value %>
         <p><%= link_to facet_value, params.merge(:state => facet_value), :class => ((params[:state]) == facet_value) ? "sel_nav type_link" : "type_link" %>
           ( <%= @count = facet.count %>
           )<%= ((params[:state]) == facet_value) ? (link_to 'Clear', params.except(:state), class: 'nav_clear') : '' %></p>
     <% end %>
   </ul>
   <br/><br/>

 </span>

