<div class="results_data">
  <div class="will_paginate">
    <div class="page_info">    <%#= raise @results.to_yaml %>
      <%= page_entries_info @results %>
    </div>
  </div>

  <div class="sort_links nav nav-pills">
    <b> Sort By :</b><br/>
    <li> <%= sortable('property_price', 'Price    ') %>  </li>
    <li> <%= sortable 'city', 'Location ' %>  </li>
    <li> <%= sortable 'property_type', 'Type     ' %>  </li>
    <li> <%= sortable 'source', 'Publisher' %>  </li>
    <li><%= sortable 'created_at', 'Date    ' %>  </li>
  </div>

  <div class="results">
    <%= render :partial => 'result', :collection => @results %>
  </div>
  <div class="results_footer">
    <%= will_paginate @results, :class => 'will_paginate' %>
  </div>
</div>