<%#= (page_entries_info @view_results).methods %>
<%#= session %>
<div class="page-header" style="margin-top: 0;">
  <%= render :partial => 'regular_search' %>
  <!--<b>Search Results</b>-->
</div>
<div class="row">
  <div class="span25">
    <%= render :partial => 'side_nav' %>
  </div>

  <div class="span10">
    <div class=" footer ads">
      Your Ads Here
    </div>
    <br/>
   <div class="view_results" >
    <%= render :partial => 'view_results' %>
   </div>
    <div class="footer ads">
      Your Ads Here
    </div>
  </div>
  <div class="span3">Volla Ads<br/><br/><br/>
    <%= link_to "Real estate - OLX" %><br/>
    <span style="color: #4B964A;">www.olx.in/</span>
    100% free classifieds. Apartments
    for sale/rent on OLX. Find it now!
    312 people +1'd this page <br/>  <br/>

    <%= link_to "Real Estate " %><br/>
    <span style="color: #4B964A;">www.freeads.in/Real_Estate</span>
    Looking for Property? Buy, Sell &
    Rent Property in Hyderabad <br/> <br/>

    <%= link_to "Real Estate Kolkata" %> <br/>
      <span style="color: #4B964A;">www.nkrealtors.com/</span>
    your search for flats,office,land,
    bunglows and showrooms ends here
    New Melbourne Properties  <br/>  <br/>

    See your ad here »
  </div>
</div>

<div id="email_form">
  <h3>Send Property Details</h3>
  <br>
  <%= form_tag '/home/send_details', :remote => true, :method => :post, :class => 'send_details_form', :id => 'email_submit' do %>
      <%= label_tag :emails, "Enter email address comma separated " %>
      <%= text_area_tag :emails, "", :style => 'width:300px;height:60px;' %>
      <%= hidden_field_tag :property_id %>
      <br>
      <%= submit_tag :Send, :class => 'btn btn-primary', :id => 'mail_submit_form' %>
      <%= link_to 'Close', "#", :class => 'btn', :onclick => '$.fancybox.close();return false;' %>
  <% end %>
</div>
