<%= form_tag 'home/results', :method => :get, :class => 'search_form' do %>

    <%#= image_tag("Vollaa_logo.png", :size => "275x130", :alt => "Vollaa", :style => "margin-bottom: 60px;margin-top:10px;") %>

     <br/>
    <div class="btn-group offset6" data-toggle="buttons-radio">
      <% button_tag :Sale, :class=>"btn span2  sale_btn", :type => 'button', "data-toggle"=> "button", :onClick=>"$('#property_for').val('sale'); $('.rent_btn').attr('disabled',false)",:disabled => true %>
      <% button_tag :Rent,:class=>"btn span2  rent_btn", :type => 'button', "data-toggle"=> "button", :onClick=>"$('#property_for').val('rent'); $('.sale_btn').attr('disabled',false)" %>
    </div>
    <%= hidden_field_tag :property_for, 'sale', :id => 'property_for'  %>

    <div style="width: 980px;margin: 0 auto;">
      <div class="search_box">
        <div class="row form-inline" style="position: absolute;">
          <div class="span3 form-inline">
            <%= label_tag :what %><br/>
            <%= text_field_tag :what, nil, id: 'what' %>
            <p class="help-inline">2bhk, home, flat, apartment </p>
          </div>
          <div class="span3 form-inline">
            <%= label_tag :where %><br/>
            <%= text_field_tag :where, nil, id: 'where' %>
            <p class="help-inline">city, state</p>
          </div>
          <div class="span form-inline" style="padding-bottom: 20px;padding-top: 5px;"> <br/>
            <%= submit_tag :search, :class => 'btn btn-primary home_search_btn' %>
          </div>
        </div>
          <br/>
        <div class="row for_hide" style="padding-left:20px;margin-top: 50px;"> <br/>
          <%= link_to "Advanced", "#", class: 'advanced_search loading_adv_search' %>
        </div>
        <div class="hide_load_image"><img src='assets/loading_image.gif'></div>
<% end %>

</div>
</div>
