<%= form_tag 'home/results', :method => :get, :class => 'search_form' do %>

    <%= image_tag("index.jpeg", :size => "330x130", :alt => "Vollaa", :style => "padding-bottom: 20px;") %>

     <br/>
    <div class="btn-group offset6" data-toggle="buttons-radio">
      <%= button_tag :Sale, :class=>"btn span2  sale_btn", :type => 'button', "data-toggle"=> "button", :onClick=>"$('#property_for').val('sale'); $('.rent_btn').attr('disabled',false)",:disabled => true %>
      <%= button_tag :Rent,:class=>"btn span2  rent_btn", :type => 'button', "data-toggle"=> "button", :onClick=>"$('#property_for').val('rent'); $('.sale_btn').attr('disabled',false)" %>
    </div>
    <%= hidden_field_tag :property_for, 'sale', :id => 'property_for'  %>

    <div style="width: 980px;margin: 0 auto;">
      <div class="search_box">
        <div class="row form-inline">
          <div class="span3 form-inline">
            <%= label_tag :what %><br/>
            <%= text_field_tag :what, nil, id: 'what' %>
            <p class="help-inline">2bhk, home, flat, apartment </p>
          </div>
          <div class="span3 form-inline">
            <%= label_tag :where %><br/>
            <%= text_field_tag :where, nil, id: 'where' %>
            <p class="help-inline">city, state</p>
          </div>
          <div class="span form-inline" style="padding-bottom: 20px;padding-top: 5px;"> <br/>
            <%= submit_tag :search, :class => 'btn btn-primary home_search_btn ' %>
          </div>
        </div>
          <br/>
        <div class="for_hide" style="padding-bottom: 171px;color: #ffffff;"> <br/>
          <%= link_to "Advanced", "#", class: 'advanced_search' %>
        </div>
        <div class="row">
          <div class="adv_search"  style="padding-left: 30px;">
            <%= render :partial => 'adv_search' %>
          </div>
        </div>
<% end %>

</div>
</div>
