<%= form_tag 'home/results', :method => :get, :class => 'search_form' do %>

    <%= image_tag("index.jpeg", :size => "330x130", :alt => "Vollaa", :style => "padding-bottom: 20px;") %>

    <%# link_to "Update Profile", new_profile_path if ((current_user.sign_in_count).to_i == 1) %>
     <br/>
    <div class="btn-group offset5" data-toggle="buttons-radio">
      <%= button_tag :Buy, :class=>"btn span2", :type => 'button', "data-toggle"=> "button", :onClick=>"$('#property_for').val('buy');" %>
      <%= button_tag :Rent,:class=>"btn span2", :type => 'button', "data-toggle"=> "button", :onClick=>"$('#property_for').val('rent');" %>
    </div>
    <%= hidden_field_tag :property_for, '', :id => 'property_for'  %>


    <!--<div class="span2 side_nav">-->
      <!--<label class="radio"><%= radio_button_tag :property_for, "buy" %>Buy</label><br/><br/>-->
      <!--<label class="radio"><%= radio_button_tag :property_for, "rent" %>Rent</label>-->
    <!--</div>-->

    <div style="width: 1045px;margin: 0 auto;">
      <div class="search_box">
        <div class="row form-inline">
          <div class="span3 form-inline">
            <%= label_tag :what %><br/>
            <%= text_field_tag :what %>
            <p class="help-inline">2bhk, home, flat, apartment </p>
          </div>
          <div class="span3 form-inline">
            <%= label_tag :where %><br/>
            <%= text_field_tag :where %>
            <p class="help-inline">city, state</p>
          </div>
          <div class="span form-inline" style="padding-bottom: 20px;padding-top: 5px;"> <br/>
            <%= submit_tag :search, :class => 'btn btn-primary' %>
          </div>
        </div>
          <br/>
        <div class="for_hide" style="padding-bottom: 171px;color: #ffffff;"> <br/>
          <%= link_to "Advanced", "#", class: 'advanced_search' %>
        </div>
        <div class="row">
          <div class="adv_search"  style="padding-left: 30px;">
            <%= render :partial => 'adv_search' %>
          </div>
        </div>
<% end %>

</div>
</div>