<br/><br/>
<div class="form-horizontal sign_in span7">
  <h2 class="offset2 sign">Sign in</h2>
  <br/>
  <span class="form_body">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

      <div class="control-group">
        <%= f.label :email, class: "control-label control" %>
        <div class="controls">
          <%= f.email_field :email %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, class: "control-label" %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <% if devise_mapping.rememberable? -%>

              <label class="checkbox">
                <%= f.check_box :remember_me %> <%= f.label :remember_me %>
              </label>
          <% end -%>
          <%= f.submit "Sign in" %>
  <% end %>   <br/>
    <br/>
    <%= render "devise/shared/links" %>
    </div>
    </div>
  </span>
</div>
