<%= form_for @profile, :html => {:multipart => true} do |f| %>
    <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
            <% @profile.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <br/><br/>

    <div class= "form-horizontal">
      <div class="control-group">
        <%= f.label "First Name", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :first_name, placeholder: "First Name" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label "Last Name", class: "control-label"  %>
        <div class="controls">
          <%= f.text_field :last_name, placeholder: "Last Name"%>
        </div></div>

      <div class="control-group">
        <%= f.label "Avatar", class: "control-label"  %>
        <div class="controls">
          <%= f.file_field :image %>
        </div></div>

      <div class="control-group">
        <%= f.label :remote_image_url, "or image URL" %>
        <div class="controls">
          <%= f.text_field :remote_image_url %>
        </div></div>

      <div class="control-group">
        <%= f.label "Date of Birth", class: "control-label"  %>
        <div class="controls">
          <%= f.text_field :dob, placeholder: "Date Of Birth", class: 'datepicker' %><br/>
        </div></div>

      <div class="control-group">
        <%= f.label "Contact Number", class: "control-label"  %>
        <div class="controls">
          <%= f.text_field :contact_number, placeholder: "Contact Number" %>
        </div></div>

      <div class="control-group">
        <%= f.label "Address", class: "control-label"  %>
        <div class="controls">
          <%= f.text_area :address, placeholder: "Communication address", :rows => "6x100"  %>
        </div></div>
      <%= f.hidden_field :user_id, :value => params[:user_id] %>
      <div class="actions offset2">
        <%= f.submit class: 'btn btn-primary span2' %>
      </div></div>
<% end %>
