<!DOCTYPE html>
<html>
<head>
  <title>Vollaa</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.colorbox" %>

  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>

  <%= javascript_tag do %>
      var params = <%= raw params.to_json %>;
  <% end %>
</head>
<body>
<div class="header">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a href="/" class="brand">Vollaa</a>

        <div class="nav-collapse">
          <ul class="nav pull-right">
            <%#= "user logged in" if current_twitter_user %>
            <% if !(user_signed_in? || current_fb_user || current_twitter_user)  %>
                <li><%= link_to "Sign in with Twitter  /", "/auth/twitter", id: "sign_in",style: "padding-left: 10px; padding-top: 10px;" %></li>
                <li><%= link_to "Sign in with Facebook  /", "/auth/facebook", id: "sign_in",style: "padding-left: 10px; padding-top: 10px;" %></li>
                <li><%= link_to "Sign in  /", user_session_path, style: "padding-left: 10px; padding-top: 10px;" %></li>
                <li><%= link_to "Sign Up", new_user_registration_path, style: "padding-left: 10px; padding-top: 10px;" %></li>
            <% elsif user_signed_in? && !current_fb_user && !current_twitter_user %>
                <li style = "padding-left: 10px; padding-top: 10px;">Welcome <%= current_user.email %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, :style =>"padding-left: 10px; padding-top: 10px;" %></li>
                <li><%= link_to "My Profile",(current_user.profile)? profile_path(current_user.id) : new_profile_path(:user_id => current_user.id), :style =>"padding-left: 10px; padding-top: 10px;"  %></li>
            <% elsif current_fb_user && !current_twitter_user %>
                <li style ="padding-left: 10px; padding-top: 10px;">Signed in as <strong><%= current_user.name %>   </strong>!
                <li><%= link_to "Sign out", signout_path, id: "sign_out", style: "padding-left: 10px; padding-top: 10px;" %></li>
                <% @profile_path =  (current_fb_user.profile)? profile_path(current_fb_user.profile.id) : new_profile_path(:user_id => current_fb_user.id)%>
                <li><%= link_to "My Profile", @profile_path, :style =>"padding-left: 10px; padding-top: 10px;"  %></li>
            <% elsif  current_twitter_user  %>
                <li style ="padding-left: 10px; padding-top: 10px;">Signed in as <strong><%= current_user.name %>   </strong>!
                <li><%= link_to "Sign out", signout_path, id: "sign_out", style: "padding-left: 10px; padding-top: 10px;" %></li>
                <% @profile_path =  (current_twitter_user.profile)? profile_path(current_twitter_user.profile.id) : new_profile_path(:user_id => current_fb_user.id)%>
                <li><%= link_to "My Profile", @profile_path, :style =>"padding-left: 10px; padding-top: 10px;"  %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="content container">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, :id => "flash_#{name}", :class => "alert alert-#{name}" do %>
          <a class="close" data-dismiss="alert">&times;</a>
          <%= raw msg %>
      <% end %>
  <% end %>

  <%= content_tag :div, "data-page-action" => page_action, "data-page-controller" => page_controller do %>
      <%= yield %>
  <% end %>

</div>
<div class="footer container">
  <div class="footer_links">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', '#' %>
    <%= link_to 'Terms', '#' %>
    <%= link_to 'Contact', '#' %>
    <%= link_to 'Market Trends', '#' %>
    <%= link_to 'Tools', '#' %>
    <%= link_to 'Advertisers', '#' %>
  </div>
</div>
</body>
</html>
