<!DOCTYPE html>
<html>
<head>
  <title>Vollaa</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.colorbox" %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.base" %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.googlemaps" %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.bing" %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.mapquest" %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.openlayers" %>

  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font">
  <script src="http://cdn.webrupee.com/js" type="text/javascript"></script>
  <%= javascript_tag do %>
      var params = <%= raw params.to_json %>;
  <% end %>
</head>
<body>
<div class="header">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <!--<a href="/" class="brand">Vollaa</a>-->
        <%= link_to image_tag("Vollaa_logo.png", :size => "135x100", :alt => "Vollaa", class: 'image',style: "margin-bottom: -20px;"), '/' %>
        <div class="nav-collapse">
          <ul class="nav pull-right">
            <% if !(user_signed_in? || current_fb_user || current_twitter_user)  %>
                <li><%#= link_to image_tag("twitter_t.png", :size => "20x16")+"Twitter", "/auth/twitter",class: 'btn', id: "sign_in",style: "padding-left: 5px; padding-top: 0px;margin-top: 0px;" %></li>
                <li><%#= link_to image_tag("f-facebook.png", :size => "20x16") +" Facebook", "/auth/facebook",class:'btn', id: "sign_in",style: "padding-left: 5px; padding-top: 0px;margin-top: 0px; margin-left:10px" %></li>
                <li><%= link_to "Sign in ", user_session_path, style: "padding-left: 10px; " %></li>
                <li style="padding-left: 10px; "> | </li>
                <li><%= link_to "Sign Up", new_user_registration_path, style: "padding-left: 10px; " %></li>
            <% elsif user_signed_in? && !current_fb_user && !current_twitter_user %>
                <li style = "padding-left: 10px; ">Welcome <%= current_user.email %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, :style =>"padding-left: 10px; " %></li>
                <%# @user_profile = (Profile.where("user_id =?",current_user.id))[0] %>
                <% @user_profile = current_user.profile %>
                <% @profile_path = @user_profile ? profile_path(@user_profile.id) : new_profile_path(:user_id => current_user.id) %>
                <li><%= link_to "My Profile", @profile_path, :style =>"padding-left: 10px; "  %></li>
            <% elsif current_fb_user && !current_twitter_user %>
                <li style ="padding-left: 10px; ">Signed in as <strong><%= current_user.name %>   </strong>!
                <li><%= link_to "Sign out", signout_path, id: "sign_out", style: "padding-left: 10px; " %></li>
                <% @profile_path =  (current_fb_user.profile)? profile_path(current_fb_user.profile.id) : new_profile_path(:user_id => current_fb_user.id)%>
                <li><%= link_to "My Profile", @profile_path, :style =>"padding-left: 10px; "  %></li>
            <% elsif  current_twitter_user  %>
                <li style ="padding-left: 10px; ">Signed in as <strong><%= current_user.name %>   </strong>!
                <li><%= link_to "Sign out", signout_path, id: "sign_out", style: "padding-left: 10px; " %></li>
                <% @profile_path =  (current_twitter_user.profile)? profile_path(current_twitter_user.profile.id) : new_profile_path(:user_id => current_fb_user.id)%>
                <li><%= link_to "My Profile", @profile_path, :style =>"padding-left: 10px; "  %></li>
            <% end %>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="content container">
  <% flash.each do |name, msg| %>
      <%= content_tag :div, :id => "flash_#{name}", :class => "alert alert-#{name}" do %>
          <a class="close" data-dismiss="alert">&times;</a>
          <%= raw msg %>
      <% end %>
  <% end %>

  <%= content_tag :div, "data-page-action" => page_action, "data-page-controller" => page_controller do %>
      <%= yield %>
      <%= yield :scripts %>
  <% end %>

</div>
<div class="footer container">
   <%= link_to "google calculator", "http://www.google.com/#hl=en&sugexp=les%3B&gs_rn=1&gs_ri=serp&pq=google%20calculator&cp=4&gs_id=1d5&xhr=t&q=1acre&es_nrs=true&pf=p&tbo=d&sclient=psy-ab&oq=1acr&gs_l=&pbx=1&bav=on.2,or.r_gc.r_pw.r_qf.&fp=80c6fec127a62ffa&biw=1375&bih=756",:target => '_blank', class: 'google_cal'%>
  <div class="footer_links">
    <%= link_to 'Home', root_path %>
    <%= link_to 'About', '../about' %>
    <%= link_to 'Terms', '../policy' %>
    <%= link_to 'Contact', '../contact' %>
    <%= link_to 'Market Trends', '../trends' %>
    <%= link_to 'Tools', '../tools' %>
    <%= link_to 'Advertisers', '#' %>
    <%= link_to (image_tag "facebook-page.png", :size => "16x16"), "http://www.facebook.com/VollaaStartup",:target => '_blank' %>
    <%= link_to (image_tag "twitter-page.png", :size => "16x16"), "http://www.twitter.com/vollaa",:target => '_blank' %>
  </div>
</div>
</body>
</html>
